@{
    ViewData["Title"] = "Home Page";
}

<!-- about section -->

<section class="about_section layout_padding">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="detail-box">
                    <div class="heading_container">
                        <h2>
                            About Us
                        </h2>

                    </div>
                    <p>
                        The MVC project team comprises dedicated professionals adept at MVC architecture, encompassing developers skilled in ASP.NET MVC, designers proficient in crafting user interfaces, and testers ensuring product quality, collectively driving project success through collaborative efforts and expertise.
                    </p>
                    <a href="">
                        Read More
                    </a>
                </div>
            </div>
            <div class="col-md-6">
                <div class="img-box">
                    <img src="images/about-img.png" alt="">
                </div>
            </div>
        </div>
    </div>
</section>

<!-- end about section -->
<!-- trending section -->

<section class="trending_section layout_padding">
    <div id="accordion">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="detail-box">
                        <div class="heading_container">
                            <h2>
                                Trending Categories
                            </h2>
                        </div>
                        <div class="tab_container">
                            <div class="t-link-box" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true"
                                 aria-controls="collapseOne">
                                <div class="number">
                                    <h5>
                                        01
                                    </h5>
                                </div>
                                <hr>
                                <div class="t-name">
                                    <h5>
                                        Chairs
                                    </h5>
                                </div>
                            </div>
                            <div class="t-link-box collapsed" data-toggle="collapse" data-target="#collapseTwo"
                                 aria-expanded="false" aria-controls="collapseTwo">
                                <div class="number">
                                    <h5>
                                        02
                                    </h5>
                                </div>
                                <hr>
                                <div class="t-name">
                                    <h5>
                                        Tables
                                    </h5>
                                </div>
                            </div>
                            <div class="t-link-box collapsed" data-toggle="collapse" data-target="#collapseThree"
                                 aria-expanded="false" aria-controls="collapseThree">
                                <div class="number">
                                    <h5>
                                        03
                                    </h5>
                                </div>
                                <hr>
                                <div class="t-name">
                                    <h5>
                                        Beds
                                    </h5>
                                </div>
                            </div>
                            <div class="t-link-box collapsed" data-toggle="collapse" data-target="#collapseFour"
                                 aria-expanded="false" aria-controls="collapseFour">
                                <div class="number">
                                    <h5>
                                        04
                                    </h5>
                                </div>
                                <hr>
                                <div class="t-name">
                                    <h5>
                                        Furnitures
                                    </h5>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="collapse show" id="collapseOne" aria-labelledby="headingOne" data-parent="#accordion">
                        <div class="img_container ">
                            <div class="box b-1">
                                <div class="img-box">
                                    <img src="images/a1.jpg" alt="" height="206.5px">
                                </div>
                                <div class="img-box">
                                    <img src="images/a2.jpg" alt="" height="206.5px">
                                </div>
                            </div>
                            <div class="box b-2">
                                <div class="img-box">
                                    <img src="images/a3.jpg" alt="" height="206.5px">
                                </div>
                                <div class="img-box">
                                    <img src="images/a4.jpg" alt="" height="206.5px">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="collapse" id="collapseTwo" aria-labelledby="headingTwo" data-parent="#accordion">
                        <div class="img_container ">
                            <div class="box b-1">
                                <div class="img-box">
                                    <img src="images/t3.jpg" alt="" height="206.5px">
                                </div>
                                <div class="img-box">
                                    <img src="images/t4.jpg" alt="" height="206.5px">
                                </div>
                            </div>
                            <div class="box b-2">

                                <div class="img-box">
                                    <img src="images/t1.jpg" alt="" height="206.5px">
                                </div>
                                <div class="img-box">
                                    <img src="images/t2.jpg" alt="" height="206.5px">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="collapse" id="collapseThree" aria-labelledby="headingThree" data-parent="#accordion">
                        <div class="img_container ">
                            <div class="box b-1">
                                <div class="img-box">
                                    <img src="images/b4.jpg" alt="" height="206.5px">
                                </div>
                                <div class="img-box">
                                    <img src="images/b1.jpg" alt="" height="206.5px">
                                </div>
                            </div>
                            <div class="box b-2">
                                <div class="img-box">
                                    <img src="images/b3.jpg" alt="" height="206.5px">
                                </div>
                                <div class="img-box">
                                    <img src="images/b2.jpg" alt="" height="206.5px">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="collapse" id="collapseFour" aria-labelledby="headingfour" data-parent="#accordion">
                        <div class="img_container ">
                            <div class="box b-1">
                                <div class="img-box">
                                    <img src="images/t-1.jpg" alt="">
                                </div>

                                <div class="img-box">
                                    <img src="images/t-4.jpg" alt="">
                                </div>
                            </div>
                            <div class="box b-2">
                                <div class="img-box">
                                    <img src="images/t-3.jpg" alt="">
                                </div>
                                <div class="img-box">
                                    <img src="images/t-2.jpg" alt="">
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

</section>

<!-- end trending section -->
<!-- discount section -->

<section class="discount_section  layout_padding">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="detail-box">
                    <h2>
                        The Latest Collection
                    </h2>
                    <h2 class="main_heading">
                        50% DISCOUNT
                    </h2>

                    <div class="">
                        <a href="">
                            Buy Now
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="img-box">
                    <img src="images/discount-img.png" alt="">
                </div>
            </div>
        </div>
    </div>
</section>


<!-- end discount section -->
<!-- client section -->
<section class="client_section layout_padding-bottom">
    <div class="container">
        <div class="heading_container">
            <h2>
                Developed By
            </h2>
        </div>
    </div>

    <div class="container">
        <div class="client_container layout_padding2 row d-flex justify-content-between">
            <div class="client_box b-1 col-5">
                <div class="client-id">
                    <div class="img-box">
                        <img src="images/client1.jpg" alt=""  style="border-radius:50%" height="130px" width="auto"/>
                    </div>
                    <div class="name">
                        <h5>
                            Mahmoud Usama
                        </h5>
                        <p>
                            Software Engineer
                        </p>
                    </div>
                </div>
                <div class="detail">
                    <p>
                        Software engineers design, develop, and maintain software systems, collaborating across teams to innovate and deliver high-quality solutions.
                    </p>
                    <div>
                        <div class="arrow_img">
                        </div>
                    </div>
                </div>
            </div>
            <div class="client_box b-2 col-5">
                <div class="client-id">
                    <div class="img-box">
                        <img src="images/client4.jpg" alt="" style="border-radius:50%" height="130px" width="auto" />
                    </div>
                    <div class="name">
                        <h5>
                            Mohamed Sayed
                        </h5>
                        <p>
                            Backend Specialist
                        </p>

                    </div>
                </div>
                <div class="detail">
                    <p>
                        A backend specialist focuses on developing and maintaining server-side logic and databases to ensure the functionality and performance of web applications.
                    </p>
                    <div>
                        <div class="arrow_img">
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
        <div class="client_container layout_padding2 row d-flex justify-content-between">
            <div class="client_box b-1 col-5">
                <div class="client-id">
                    <div class="img-box">
                        <img src="images/client3.jpg" alt="" style="border-radius:50%" height="130px" width="auto" />
                    </div>
                    <div class="name">
                        <h5>
                            Micheal Esmat
                        </h5>
                        <p>
                            FullStack Developer
                        </p>
                    </div>
                </div>
                <div class="detail">
                    <p>
                        A full stack developer is proficient in both front-end and back-end development, capable of building complete web applications from database to user interface.
                    </p>
                    <div>
                        <div class="arrow_img">
                        </div>
                    </div>
                </div>
            </div>


            <div class="client_box b-2 col-5">
                <div class="client-id">
                    <div class="img-box">
                        <img src="images/client5.jpg" alt="" style="border-radius:50%" height="130px" width="auto" />
                    </div>
                    <div class="name">
                        <h5>
                            Tarek Khaled
                        </h5>
                        <p>
                            Software Expert
                        </p>

                    </div>
                </div>
                <div class="detail">
                    <p>
                        A software expert is a highly skilled professional with deep knowledge and expertise in various aspects of software development, deployment, and maintenance.
                    </p>
                    <div>
                        <div class="arrow_img">
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="client_container layout_padding2 d-flex justify-content-center ">
            <div class="client_box b-1  col-6">
                <div class="client-id">
                    <div class="img-box">
                        <img src="images/client6.jpg" alt="" style="border-radius:50%" height="130px" width="auto" />
                    </div>
                    <div class="name">
                        <h5>
                            Abd El-Moneim Faisal
                        </h5>
                        <p>
                            Skilled Developer
                        </p>
                    </div>
                </div>
                <div class="detail">
                    <p>
                        A skilled developer is adept at crafting efficient and innovative software solutions, utilizing their expertise in programming languages and development frameworks.
                    </p>
                    <div>
                        <div class="arrow_img">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- end client section -->


