@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h4 class=" text-center">Adding Role</h4>
<hr />
<div class="row">
    <div class="col-md-4 d-flex justify-content-center">
        <form asp-action="Add" method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label for="name" class="control-label"></label>
                <input type="text" name="name" id="name" class="form-control" value="@Model?.Name" />
            </div>
            <div class="form-group">
                <input type="submit" value="Add" class="btn btn-dark" />
            </div>
        </form>
    </div>
</div>